{% extends "base.html" %}
{% block title %}Deletar Termos - Fundamentos de Python{% endblock %}
{% block content %}
<h2>Deletar Termos</h2>
<table>
    <thead>
        <tr>
            <th>Termo</th>
            <th style="text-align:unset;">Definição Atual</th>
            <th style="text-align:unset;">Deletar</th>
        </tr>
    </thead>
    <tbody>
        {% for termo in termos %}
        <tr>
            <form method="POST" action="{{ url_for('atualizar_termo') }}">
                <td>
                    <input type="hidden" name="termo_original" value="{{ termo[0] }}">
                    <input type="text" name="novo_termo" value="{{ termo[0] }}" required>
                </td>
                <td>
                    <input type="text" name="nova_definicao" value="{{ termo[1] }}" required>
                </td>
            </form>
            <td>
                <form method="POST" action="{{ url_for('deletar_termo') }}" onsubmit="return confirm('Confirma excluir o termo {{ termo[0] }}?');">
                    <input type="hidden" name="termo" value="{{ termo[0] }}">
                    <button type="submit" style="background-color: red; color: white;">Deletar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
