{% extends "base.html" %}
{% block content %}
<div class="container-form">
  <h1>Adicionar Termo - Fundamentos de Python</h1>

  <form action="{{ url_for('criar_termo')}}" method="post">
    <label for="termo" class="form-label">Termo</label>
    <input type="text" id="termo" name="termo" aria-describedby="termoHelp" required>
    <div id="termoHelp" class="form-text">Termo para ser adicionado.</div>

    <label for="definicao" class="form-label">Definição</label>
    <textarea id="definicao" name="definicao" rows="4" required></textarea>

    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
{% endblock %}
